@font-face {
	font-family: 'Fira Code';
	src:
		url('/woff2/FiraCode-Regular.woff2') format('woff2'),
		url('/woff2/FiraCode-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Fira Code', monospace;
}

body {
	margin: 5% auto;
	background: #f2f2f2;
	color: #444444;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	text-shadow: 0 1px 0 #ffffff;
	max-width: 73%;
}
code {
	background: white;
}
a {
	border-bottom: 1px solid #444444;
	color: #444444;
	text-decoration: none;
}
a:hover {
	border-bottom: 0;
}

.links {
	display: flex;
	justify-content: flex-start;
	column-gap: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
	flex-wrap: wrap;
}

.container {
	width: 100%;
}

.text {
	font-size: calc(0.5vw + 1vh);
}

a.youtube:hover {
	color: #ff0033;
}

a.github:hover {
	color: #212830;
}

a.twitter:hover {
	color: #1d9bf0;
}
